<div class="item">
    <div class="right floated content">
        {{#unless promoEnded}}  <div class="ui button modifyPromo" data-id="{{_id}}"><i class=" pencil icon"></i>Modificar</div> {{/unless}}
        <div class="ui button middle aligned disabled"><i class="line chart icon"></i>Estadísticas</div>
    </div>
    <i class="yellow large newspaper middle aligned icon"></i>

    <div class="content">

        <a class="header">{{promoTitle}}</a>

        <div class="description">
            <p>Pendiente de lanzar</p>
        </div>
        <div class="extra">
            <div class="meta">
                <span class="">
                            <i class="calendar icon" ></i>{{dateToHuman startDate}} - {{dateToHuman endDate}}
                        </span>
                <span class="">
                            <i class="users icon"></i>{{participNumber}}
                        </span>
                <span class="">
                            <i class="gift icon"></i>{{winnersNumber}}
                        </span>
            </div>
        </div>
    </div>
</div>