 <div class="item">
    <div class="right floated content">
        <div class="ui label "><i class="call user icon"></i>{{displayName}}</div>
        <div class="ui label"><i class="mail chart icon"></i>{{contact}}</div>
    </div>
   

    <div class="content">
        {{#if profileImg}} <img class="ui mini avatar circular image" src="{{profileImg}}"> {{else}} <i class="circular large user  icon"></i>          {{/if}}<i class="yellow star middle aligned icon"></i>{{points}}
    </div>
</div>