<html>
  <head>
    <title>{{title}}</title>
    {{> meta-tags}}
    {{> head-imports}}

    {{{block "pageStyles"}}}
    {{{block "HBTemplates"}}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
 
    {{> body-imports}}
 
    {{{block 'OneSignalScripts'}}}
    {{{block 'facebookScripts'}}}
    {{{block 'googleMapsScripts'}}}
    {{{block 'googleTagManagerScripts'}}}
    {{{block 'googleAnalyticsScripts'}}}
 
  </body>
</html>