{{!< default}} 


{{#contentFor 'pageStyles'}} 
<style>
</style>
{{/contentFor}} 



{{#contentFor 'googleAnalyticsScripts'}}
<script type="text/javascript">
</script>
{{/contentFor}} 

{{#contentFor 'facebookScripts'}}
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>
{{/contentFor}} 

{{#contentFor 'OneSignalScripts'}}
<script type="text/javascript">

</script>
{{/contentFor}}


{{#contentFor 'HBTemplates'}}
<script id="winner-list-item" type="text/x-handlebars-template">
    <div class="item">
        <div class="right floated content">
            <div class="ui label "><i class="call user icon"></i>{{displayName}}</div>
            <div class="ui label"><i class="mail chart icon"></i>{{contact}}</div>
        </div>
    

        <div class="content">
            {{#if profileImg}} <img class="ui mini avatar circular image" src="{{profileImg}}"> {{else}} <i class="circular large user  icon"></i>          {{/if}}<i class="yellow star middle aligned icon"></i>{{points}}
        </div>
    </div>
</script>


<script id="winners-segment" type="text/x-handlebars-template">
    <div class="ui segment winners-segment">
    
    <div class="ui middle aligned divided list  ">
        <h3 class="ui header">Ganadores del sorteo. ¡Debes contactar con los premiados!</h3>

        <!--Winner Item-->
        {{>winner-list-item}}

    </div>
</div>
</script>
{{/contentFor}}


<div class="ui main container">

    

    <!--Steps Menu-->
    {{>steps-menu}}
    <!--end Steps Menu-->


    <!--Promotions List - Menu Item-->
    {{>promotions-list-item}}
    <!--end Promotions List - Menu Item-->

    <!--Edit Promotion - Menu Item-->
    {{>edit-promotion-item}}
    <!--end Edit Promotion - Menu Item-->

    <!--Promotion Stats - Menu Item-->
    {{>promotion-stats-item}}
    <!--end Promotion Stats - Menu Item-->

    <!--Footer-->
    {{>footer}}
    <!--end Footer-->

</div>
<!--end .main.container-->